@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Dirt&display=swap');
@keyframes fade_from_bottom /*Animates an HTML element, tag learned from W3schools*/
{
    from {bottom: -200px; opacity:0}
    to {bottom: 0px; opacity:1}
}


body 
{ 
    font-family: Verdana, Geneva, Arial, sans-serif; /*extra fonts in case not in user's system*/
    padding:0px; 
    margin:0px;
}

#wrapper
{
    height:auto;
    margin-left:auto;
    margin-right: auto;
    /*background-image:url(bg.gif);*/
    background:linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
}

nav
{
    float:left;
    width:100%;
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

nav img
{
    float:left;
    margin-left: 1%;
    width: 50px;
    border-radius:80px;
    margin-top: 0.7%;
    margin-bottom: 0.5%;
}
nav a
{ 
    width: 20%;
    float: left;
    text-align: center;
    font-size: 20px;
    margin-left: 2%;
    margin-top:1%;
    margin-bottom:1%;
    border-radius: 10px;
    padding: 0.3%;
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); 
}


nav a:hover
{
    background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
    opacity:4; 
    padding: 0.38%;
}

header
{
    float: center;
    width:auto;
    background: linear-gradient(to bottom, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
}

header h1
{ 
    font-family: 'Rubik Dirt', cursive;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: auto;
    text-align: center;
}

main .img1
{
    position: relative;
    margin-top: 1%;
    margin-left:5%;
    animation: fade_from_bottom 5s;
    border-radius: 25%;
    width:20%;
}

main .img2
{
    position: relative;
    animation: fade_from_bottom 5s;
    border-radius: 25%;
    margin-top:5%;
    margin-left:2%;
    width:40%;
}

article .img1
{
    position: relative;
    margin-top: 1%;
    animation: fade_from_bottom 5s;
    border-radius: 25%;
    width:330px;
}

article .img2
{
    position: relative;
    margin-top: 1%;
    animation: fade_from_bottom 5s;
    border-radius: 1%;
    width:330px;
}

article h1

{
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 5%;
}
article h2

{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 2%;
    margin-top: -1%;
}

article p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 2%;
    margin-right:15%;
    margin-top: 0.5%;
}

#contact
{
    float:left;
    margin-left: 4%;
    margin-top: 2%;
    animation: fade_from_bottom 1.5s;
    width:60%;
    height:80%;
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
    border-radius: 10%;
    font-weight: bold;
}

#contact h2
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left:5%;
    font-size: 2vw;
}

#contact form
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    margin-left:5%;
    font-size: 1.3vw;

}

.typewriter h3
{
    width: 78ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin-left:5%;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2vw;
}

/*---------------Code below is form https://codepen.io/denic/pen/GRoOxbM------------------*/
.typewriter h2
{
    width: 38ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin-left:5%;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2vw;
}
@keyframes typing 
{
    from 
    {width: 0}
}
@keyframes blink 
{
    50% {border-color: transparent}
}
