@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Dirt&display=swap');
.desktopOnly{ display: none;} /* Class designed for hiding stuff I only want displayed in desktop mode*/
.phoneOnly{ display: none;} /*Class designed for hiding stuff I only want displayed on a phone*/
/* Color scheme hexidecimal #646464 #79DCF2 #8FA6A1 #F4F4F4 #0D0D0D */

@keyframes fade_in /*For animating the images*/
{
    0% {transform:translateY(-200px); opacity:0}
    100% {transform:translateY(0px); opacity:1}
}
@keyframes nav_menu /*For animating the navigation bar*/
{
    0% {top: 0px; opacity:0}
    100% {bottom: 0px; opacity:1}
}

body 
{ 
    font-family: Verdana, Geneva, Arial, sans-serif; /*extra fonts in case not in user's system*/
    min-height: 100vh; /*forces body to fill entire page no matter screen size*/
    margin:0;
    color: white;
    background-color: black;
}


#wrapper
{
    float: left;
    height:100%;
    width: 100%;
    margin:auto;
}

#banner
{
    position: fixed;
    z-index: 1; /*Force banner on top of everything else - https://stackoverflow.com/questions/54534042/looking-at-a-problem-with-image-overlapping-nav-bar*/
    float: left;
    width: 100%;
    margin-top: -10px;
}

header img
{
    float:left;
    margin-left: 1%;
    width: 40px;
    border-radius:80px;
    margin-top: 0.7%;
    margin-bottom: 0.5%;
}


header
{
    width:100%;
    height:50px;
    margin: 0;
    color:whitesmoke;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 58%,rgba(17,17,17,1) 67%,rgba(0,0,0,1) 68%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(71,71,71,1) 100%,rgba(19,19,19,1) 100%);
}

header h1
{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-top: auto;
    margin-left: 30px;
    float: left;
}

nav /*Navigation screen*/
{
    float:right;
    background: linear-gradient(to bottom, rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(216,224,222,1) 100%,rgba(14,14,14,1) 100%);
    border-radius: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#mobileLinks /*Links within navigation for special pop-up menu only for mobile*/
{
    display: none;
}

#mobileLinks a
{ 
    animation: nav_menu 1s; /*animate the pop-up menu*/
    width: 150px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    display: block;
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); 
}

.mobileOnly a.icon /* House icon for site navigation */
{
    background: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

main /*Semantec tag for main content of page*/
{
    margin-top:60px;
    height:100%;
}


#home_images .img1 /*class for storing images on home page*/
{
    float:left;
    position: relative;
    margin-top: 3%;
    margin-left:5%;
    animation: fade_in 5s;
    border-radius: 25%;
    width:20%;
}
#home_images .img2
{
    float:left;
    position: relative;
    animation: fade_in 5s;
    border-radius: 25%;
    margin-top:2%;
    margin-left:2%;
    width:40%;
}

article .img1 /*classes for article images*/
{
    position: relative;
    margin-top: 1%;
    animation: fade_in 5s;
    border-radius: 25%;
    width:330px;
}

article .img2
{
    position: relative;
    margin-top: 1%;
    animation: fade_in 5s;
    border-radius: 1%;
    width:330px;
}

article .img3
{
    position: relative;
    margin-top: 1%;
    animation: fade_in 5s;
    border-radius: 10%;
    margin-left: 3%;
    width:25%;
}

article h1

{
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 5%;
}
article h2

{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 2%;
    margin-top: -1%;
}

article p
{
    text-indent: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 2%;
    margin-right:15%;
    margin-top: 0.5%;
}

video
{
    width: 90%;
    height: auto;
}

#contact /*contact form box*/
{
    margin-left: 4%;
    margin-top: 2%;
    animation: fade_in 1.5s;
    width:400px;
    height:600px;
    height:auto;
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
    border-radius: 10%;
    font-weight: bold;
}

#contact h1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left:40px;
    font-size: 18px;
}

#contact form
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    margin-left:5%;
    font-size: 12px;

}

#contact textarea 
{
    width: 280px;
    height: 280px;
}

#contact input 
{
    width: 250px;
}

#contact input[type="tel"]
{
    width: 100px;
}

#contact input[type="submit"]
{
    width: 100px;
}

.typewriter h3 /*typewriter effect from home page*/
{
    width: 78ch;
    position:relative;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin-left:0.1%;
    border-right: 3px solid;
    font-family: monospace;
    color: white;
    font-size: 2vw; /*dynamically adjust text size*/
}

footer
{
    font-size: 8px;
}

/*---------------Code below is from https://codepen.io/denic/pen/GRoOxbM------------------*/
.typewriter h2 /*typewriter effect from home page*/
{
    width: 38ch;
    position:relative;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    margin-top: 25%;
    overflow: hidden;
    margin-left:0.1%;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2vw;
}
@keyframes typing 
{
    from 
    {width: 0}
}
@keyframes blink 
{
    50% {border-color: transparent}
}
